<%- include('partials/header2') %> 

<section class="s-content">

    <div class="row">
        <div class="column large-4">
            <div class="s-content__media">
                <div class="s-content__post-thumb">
                    <img src="images/sample-525.jpg" alt="">

                  <div>
                    <p class="social-link" style="float: left; margin: 4%;"><a href="https://web.facebook.com/benjamin.adebayo.984"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></p>
                    <p style="float: left; margin: 4%;"" class="social-link"><a href="https://twitter.com/AdebayoBenjam19"><i class="fab fa-twitter" aria-hidden="true"></i></a></p>
                    <p style="float: left; margin: 4%;"" class="social-link"><a href="https://www.instagram.com/drell23_/"><i class="fab fa-instagram" aria-hidden="true"></i></a></p>
                  </div>
                </div>
            </div> <!-- end s-content__media -->
            </div>
            <div class="column large-8">

                <article class="s-content__entry format-standard">
    
                    <div class="s-content__entry-header">
                        <h1 class="s-content__title s-content__title--post"> About Me</h1>
                    </div> <!-- end s-content__entry-header -->
    
                    <div class="s-content__primary">
    
                        <div class="s-content__entry-content">
    
                            <p class="lead">
                         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, pariatur reiciendis eaque, tempora autem eligendi animi magni possimus inventore dolorem voluptas, a doloribus voluptates molestias quam assumenda! Odio, aut natus?
                            </p>
    
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam molestiae ullam voluptates est, neque laudantium laboriosam pariatur veniam, molestias velit praesentium autem nihil veritatis doloremque optio sapiente, deleniti ratione. Possimus.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ratione, ut dolores, repellat quaerat consectetur rem accusamus quae, commodi similique odit provident ducimus ipsa corporis omnis fugit at laudantium. Deserunt!
                            </p>
                        </div> <!-- end s-entry__entry-content -->
    
                        <div class="s-content__entry-meta">
    
             
    
                           
                        </div> <!-- s-content__entry-meta -->
    
                    </div> <!-- end s-content__primary -->
                </article> <!-- end entry -->

            </div>

           
    </div> <!-- end row -->
</section> <!-- end s-content -->


<%- include('partials/footer') %> 