<%- include('partials/header2') %>

<!-- content
================================================== -->
<section class="s-content">

<div class="row">
<div class="column large-12">

<form name="form" id="form" class="s-content__form" method="post" action="">
    <h2>Sign up</h2>
    <fieldset>

        <div class="form-field">
            <input name="email" type="text" class="h-full-width h-remove-bottom" placeholder="Your Email" value="">
            <div class="err email"></div>
        </div>

        <div class="form-field">
            <input name="password" type="password"  class="h-full-width h-remove-bottom" placeholder="Password"  value="">
            <div class="err password"></div>
        </div>
        <div class="form-field">
            <div class="form-check">
                <h4>Select Favourites</h4>
               <input class="form-check-input" type="checkbox" value="technology"  name="favourites">  Technology <br>
                <input class="form-check-input" type="checkbox" value="entertainment"  name="favourites"> Entertainment<br>
                <input class="form-check-input" type="checkbox" value="business"  name="favourites"> Business<br>
               <input class="form-check-input" type="checkbox" value="sport"  name="favourites">  Sport <br>
                <input class="form-check-input" type="checkbox" value="science" name="favourites"> Science
                
              </div>
        </div>

        <br>
        <button type="submit" class="submit btn btn--primary h-full-width" id="submit">Submit</button>
        <p style="text-align: center;"> Already have an account ? <a href="/login">Login</a></p>
    </fieldset>
</form> <!-- end form -->

</div> <!-- end s-entry__page-content -->

</div> <!-- end s-content__primary -->
</article> <!-- end entry -->

</div> <!-- end column -->
</div> <!-- end row -->

</section> <!-- end s-content -->

<script>
    const form = document.getElementById('form');
    
    // add submit event to form
    form.addEventListener('submit', (e)=>{

        e.preventDefault();

        const email = form.email.value;
        const password = form.password.value;
        const favourites = document.querySelectorAll(`input[name="favourites"]:checked`);
    let values = [];
    favourites.forEach(favourite=>{
        values.push(favourite.value)
    });

    const emailError = document.querySelector('.err.email');
    const passwordError = document.querySelector('.err.password');
    const submitBtn = document.getElementById('submit');
    const formData = {
        email,
        password,
        userFavourites: values
    }
// create loader
submitBtn.innerHTML = "Signing up....";
// reset errors
emailError.textContent = '';
passwordError.textContent = '';
  fetch('/signup', {
      method: "POST",
      body: JSON.stringify(formData),
      headers: {"Content-Type": "application/json"}
  }).then(response=>{
      response.json().then(data=>{
          submitBtn.innerHTML = "SUBMIT"
        if(data.user){
            location.assign('/')
        }
        if(data.errors){
            emailError.textContent = data.errors.email;
            passwordError.textContent = data.errors.password
        }
              
          }
      )
  }).catch(err=> console.log(err))
        
    });
</script>

<%- include('partials/footer') %> 
